<app-sidebar>
    <div class="input-group d-flex">
        <h3 class="text-color-change">Trends</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <app-skilltrends></app-skilltrends>
        </div>
        <div class="col-lg-6">
            <app-locationtrends></app-locationtrends>
        </div>
        <div class="col-lg-6">
            <app-managertrends></app-managertrends>
        </div>
        <div class="col-lg-6">
            <app-yeartrends></app-yeartrends>
        </div>
    </div>

</app-sidebar>