<app-navbar></app-navbar>
<div class="container login-card-container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card text-center" style="min-height: 300px;">
                <h6 class=" card-header bg-color-change text-white">Login</h6>
                <div class="card-block m-auto">
                    <p class="card-text">Sign In With</p>
                    <button class="btn fa fa-google" (click)="signInWithGoogle()"></button>
                </div>
            </div>
        </div>
    </div>

</div>