.bg-color-change{
    background-color: #173f5f;
    color: white;
}
.background-img{
    background: url('https://blogdo.vantagecircle.com/content/images/2020/08/Employee-recognition.png');
    min-height: 400px;
}